{% extends "website/index.html" %}
{% load staticfiles %}


{% block content %}
{% endblock %}


{% block pin_it_code %}
    <!--<script async defer data-pin-hover="true" data-pin-tall="true" data-pin-lang="en" data-pin-save="true" src="//assets.pinterest.com/js/pinit.js"></script>-->
{% endblock %}


{% block extra_javascript %}
    <script src="{% static "website/js/share/lightgallery.min.js" %}"></script> 
    <script src="{% static "website/js/share/lg-fullscreen.min.js" %}"></script>
    <script src="{% static "website/js/share/lg-thumbnail.min.js" %}"></script>
    <script src="{% static "website/js/share/lg-video.min.js" %} "></script>
    <script src="{% static "website/js/share/lg-zoom.min.js" %} "></script>
    <script src="{% static "website/js/share/lg-hash.min.js" %} "></script>
    <script src="{% static "website/js/share/lg-pager.min.js" %} "></script>
    <script src="{% static "website/js/share/lg-share.min.js" %} "></script>
    <script src="{% static "website/js/jquery.mousewheel.min.js" %} "></script>
    <script src="{% static "website/js/galleryHandling.js" %}"></script>
    <script src="{% static "website/js/photosTint.js" %}"></script>
{% endblock %}

{% block extra_css %}
{% endblock %}