{% extends "website/index.html" %}
{% load staticfiles %}
{% block content %}
<div id="page-content-wrapper">
    <div class="row nomargin" id="content">
        <div class="col-md-9 col-sm-12 col-xs-12 nopadding" id="left">
            <div class="faq">
                <div class="heading-wrapper">
                    <h1 class="page-heading" style="font-size:24px; text-align:center;" class="nomargin">{{aboutpage.heading}}</h1> 
                    <hr class="page-heading" style="width:100px; margin-top:8px; margin-bottom:8px;">
                </div>
            
                <div class="faq-content-wrapper">
                    <div class="client-review-wrapper">
                    	<div class="client-review">
                            {{aboutpage.quote|safe}}
                        </div>
                    	<div class="reviewer">
                            {{aboutpage.quote_author|safe}}   
                        </div>
                    </div>
                    <br>
                    <div class="photographer-aboutself">
                    	{{aboutpage.text|safe}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm nopadding" id="right">
            {% for photo in photos %}
                <li class="col-xs-12 grid nopadding" data-src="{{photo.url}}">
                    <a href="">
                        <img class="imgcover grid" src="{{photo.url}}">
                    </a>
                </li>
            {% endfor %}
        </div>
    </div>                    
</div>
{% endblock content %}