{% extends "website/index.html" %}
{% load staticfiles %}
{% block content %}
<div id="page-content-wrapper">
    <div class="row nomargin" id="content">
        <div class="col-md-9 nopadding" id="left">
            <div class="faq">
                <div class="heading-wrapper">
                    <h1 class="page-heading" style="font-size:24px; text-align:center;" class="nomargin">{{aboutpage.heading}}</h1> 
                    <hr class="page-heading" style="width:100px; margin-top:8px; margin-bottom:8px;">
                </div>
            
                <div class="faq-content-wrapper">
                    <div class="client-review-wrapper">
                    	<div class="client-review">
                            {{aboutpage.quote|safe}}
                        </div>
                    	<div class="reviewer">
                            {{aboutpage.quote_author|safe}}   
                        </div>
                    </div>
                    <br>
                    <div class="photographer-aboutself">
                    	{{aboutpage.text|safe}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm nopadding" id="right">
            {% for photo in photos %}
                <li class="col-xs-12 grid nopadding" data-src="{{photo.image.url}}">
                    <a href="">
                        <img class="imgcover grid" src="{{photo.image.url}}">
                    </a>
                </li>
            {% endfor %}
        </div>
    </div>                    
</div>
{% endblock content %}
{% block seo %}
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" 
      xmlns:fb="https://www.facebook.com/2008/fbml">
    <meta name="google-site-verification" content="{{seo.google_site_verification_code}}" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{seo.meta_description}}">
    <link rel="icon" href="{{seo.favicon.url}}" type="image/x-icon">
    <title>{{seo.page_title}}</title>
    <meta property="og:title" content="{{seo.title_for_facebook}}" />
    <meta property="og:description" content="{{seo.description_for_facebook}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{current_url}}"/>
    <meta property="og:image" content="{{seo.image_for_facebook}}" />
{% endblock seo %}