{% extends "website/index.html" %}
{% load website_tags %}
{% load staticfiles %}
{% block content %}
<div class="row nomargin" id="content">
    <div class="col-md-9 col-sm-12 col-xs-12 nopadding" id="left">
        <div class="faq">
            <div class="heading-wrapper">
                <h1 class="page-heading" style="font-size:24px; text-align:center;" class="nomargin">{{contactspage.page_title}}</h1> 
                <hr class="page-heading" style="width:100px; margin-top:8px; margin-bottom:8px;">
            </div>
        
            <div class="faq-content-wrapper">
                <div class="contact-aboutself">
                    {{contactspage.heading|safe}}
                    <br>
                    {{contactspage.heading_text|safe}}
                    <br>
                     <span class="email-wrapper">
                        <i class="material-icons vallign">&#xE0BE;</i>
                        <a class="email" href="mailto:{{contactspage.email}}">{{contactspage.email}}</a></span>        
                    </span>
                    
                    <br><br>
                    <span class="tel-wrapper">
                        <i class="material-icons vallign">&#xE0CD;</i>
                        <a class="tel" href="tel:{{contactspage.phone_number_call}}">{{contactspage.phone_number_display}}</a>
                    </span>
                </div>
                <div class="heading-wrapper contact">
                    <h1 style="font-size:24px; text-align:center;" class="nomargin">{{contactspage.contact_form_heading}}</h1> 
                    <hr style="width:100px; margin-top:8px; margin-bottom:8px;">
                </div>
                {% if success%}
                <h1>Success<h1>
                {% endif %}
                <form action='{% translate_url request.COOKIES "contacts" %}' method='POST'>
                {% csrf_token %}
                <div class="contact-form-wrapper ">
                    <div class="row">
                        <div class="col-xs-6 form-group">
                            <label>{{contactspage.contact_form_name}}</label>
                            <input class="form-control" type="text" name='name' required/>
                        </div>
                        <div class="col-xs-6 form-group">
                            <label>{{contactspage.contact_form_email}}</label>
                            <input class="form-control" type="text" name='email' required/>
                        </div>

                        <div class="col-xs-6 form-group">
                            <label>{{contactspage.contact_form_phone_number}}</label>
                            <input class="form-control" type="text" name='number'/>
                        </div>
                        
                        <div class="col-xs-6 form-group">
                            <label>{{contactspage.contact_form_question}}</label>
                            <input class="form-control" type="text" name='question'/>
                        </div>
                        <div class="col-xs-12 form-group">
                          <label for="comment">{{contactspage.contact_form_message}}</label>
                          <textarea class="form-control" rows="5" id="comment" name='message' required></textarea>
                        </div>
                        <div class="col-xs-12 form-group center-block">
                            <button type="submit" style="float: right;" class="btn btn-default">{{contactspage.contact_form_send_button_text}}</button>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

    {% include "website/side_photos.html" %}

</div>                    
{% endblock content %}


{% block extra_javascript %}
    {% include "website/side_photos_scripts.html" %}
{% endblock extra_javascript %}