{% extends "website/index.html" %}
{% load staticfiles %}
{% block content %}
<div class="row nomargin" id="content">
    <div class="col-md-9 col-sm-12 col-xs-12 nopadding" id="left">
        <div class="faq">
            <div class="heading-wrapper">
                <h1 class="page-heading" style="font-size:24px; text-align:center;" class="nomargin">{{faqpage.heading}}</h1> 
                <hr class="page-heading" style="width:100px; margin-top:8px; margin-bottom:8px;">
            </div>
        
            <div class="faq-content-wrapper">
                <ul class="faq-list">
                    {% for question in questions %}
                        <li class="faq-title">
                            <a class="faq-titlea collapsed" data-toggle="collapse" data-target="#{{question.heading|slugify}}" href="#">{{question.heading|safe}}</a>
                        </li>
                        <div id="{{question.heading|slugify}}" class="collapse">
                            <div class="post">
                                <div class="faq-post">
                                    {{question.body|safe}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm nopadding" id="right">
        <div class="demo-gallery">
            <ul id="lightgallery" class="list-unstyled marginbottom0">
                {% for photo in photos %}
                    <li class="col-xs-12 grid nopadding" data-src="{{photo.image.url}}">
                        <a href="">
                            <img class="imgcover grid" src="{{photo.image.url}}">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>                    
{% endblock content %}