{% extends "website/index.html" %}
{% load staticfiles %}
{% block content %}
<div class="row nomargin" id="content">
    <div class="col-md-9 nopadding" id="left">
        <div class="faq">
            <div class="heading-wrapper">
                <h1 style="font-size:24px; text-align:center;" class="nomargin">DUK</h1> 
                <hr style="width:100px; margin-top:8px; margin-bottom:8px;">
            </div>
        
            <div class="faq-content-wrapper">
                <ul class="faq-list">
                    <li class="faq-title">
                        <a class="faq-titlea collapsed" data-toggle="collapse" data-target="#title1" href="#">GAL GALI ATSIŲSTI MAN MANO NUOTRAUKĄ IŠ VAKARĖLIO KLUBE ANĄ VAKARĄ?</a>
                    </li>
                        <div id="title1" class="collapse">
                            <span class="post">
                            <p class="faq-post">
                            Per vieną vakarą padarau nuo 200 iki 600 nuotraukų. Maždaug pusė jų yra nufotografuojama RAW formatu (žmonių kalba – formatas, kurį prieš parodant reikia redaguoti. O peržiūrėti jį reikia specialių programų). Iš visų nuotraukų į galutinį albumą patenka nuo 50 iki 100. Jeigu tarp pastarųjų nėra tavęs, tai: arba ta nuotrauka buvo neryški, nepakankamai graži publikavimui, arba tiesiog per mažai flirtavai su mano objektyvu :).
                            </p>
                            <p class="faq-post">
                            Tačiau, jeigu dar vis norite savo nuotraukos iš renginio arba tą patį vakarą atsiskaitote kokteiliu ar dar kažkaip, arba sumokate ~20 Lt. už vnt. Tik tokiu atveju aš dar kartą peržvelgsiu savo tūkstantinę nuotraukų galeriją, surasiu būtent Jūsų nuotrauką, ją retušuosiu ir nusiųsiu Jums. Atsiprašau, bet man nemoka už tai, kad eikvočiau savo likusį laisvalaikį šimtų nuotraukų siuntinėjimui el. paštu. Ačiū už supratimą.
                            </p>
                            </span>
                        </div>
                    <li class="faq-title">
                        <a class="faq-titlea collapsed" data-toggle="collapse" data-target="#title2" href="#">Lorem ipsum dolor sit amet?</a>
                    </li>
                        <div id="title2" class="collapse">
                            <span class="post">
                            <p class="faq-post">
                            Vivamus vel urna eu sem feugiat pellentesque. Maecenas dictum orci odio, eget condimentum tellus porttitor eget. Pellentesque eu convallis tellus, eget vulputate felis. Ut scelerisque a magna et fringilla. Nulla volutpat, felis vitae mattis lacinia, eros dolor egestas ante, vel vestibulum felis metus non odio. Aenean porttitor ante ut lorem dictum, sit amet consequat urna ultrices. Suspendisse potenti. Quisque iaculis condimentum risus eu placerat. Nulla facilisi. Aliquam at diam risus. Nulla convallis nec est quis tincidunt. Nunc justo turpis, fermentum in faucibus non, elementum ac tortor. Sed venenatis iaculis libero.
                            </p>
                            <p class="faq-post">
                            Nam ut tellus dapibus, lacinia nulla at, interdum risus. Donec sollicitudin porttitor risus, ut hendrerit lorem consequat nec. Donec eleifend felis vitae condimentum finibus. Morbi bibendum quis tellus et hendrerit. Vestibulum pulvinar elementum lorem at imperdiet. Praesent tellus mi, venenatis ac sodales a, aliquet eu tellus. Phasellus a ultrices lorem. Fusce ac eleifend erat. Etiam consequat et ante in sollicitudin. Sed lectus metus, ornare vel aliquet eget, rutrum volutpat dui.
                            </p>
                            </span>
                        </div>
                    <li class="faq-title">
                        <a class="faq-titlea collapsed" data-toggle="collapse" data-target="#title3" href="#">Lorem ipsum dolor sit amet?</a>
                    </li>
                        <div id="title3" class="collapse">
                            <span class="post">
                            <p class="faq-post">
                            Vivamus vel urna eu sem feugiat pellentesque. Maecenas dictum orci odio, eget condimentum tellus porttitor eget. Pellentesque eu convallis tellus, eget vulputate felis. Ut scelerisque a magna et fringilla. Nulla volutpat, felis vitae mattis lacinia, eros dolor egestas ante, vel vestibulum felis metus non odio. Aenean porttitor ante ut lorem dictum, sit amet consequat urna ultrices. Suspendisse potenti. Quisque iaculis condimentum risus eu placerat. Nulla facilisi. Aliquam at diam risus. Nulla convallis nec est quis tincidunt. Nunc justo turpis, fermentum in faucibus non, elementum ac tortor. Sed venenatis iaculis libero.
                            </p>
                            <p class="faq-post">
                            Nam ut tellus dapibus, lacinia nulla at, interdum risus. Donec sollicitudin porttitor risus, ut hendrerit lorem consequat nec. Donec eleifend felis vitae condimentum finibus. Morbi bibendum quis tellus et hendrerit. Vestibulum pulvinar elementum lorem at imperdiet. Praesent tellus mi, venenatis ac sodales a, aliquet eu tellus. Phasellus a ultrices lorem. Fusce ac eleifend erat. Etiam consequat et ante in sollicitudin. Sed lectus metus, ornare vel aliquet eget, rutrum volutpat dui.
                            </p>
                            </span>
                        </div>
                        <li class="faq-title">
                        <a class="faq-titlea collapsed" data-toggle="collapse" data-target="#title4" href="#">Lorem ipsum dolor sit amet?</a>
                    </li>
                        <div id="title4" class="collapse">
                            <span class="post">
                            <p class="faq-post">
                            Vivamus vel urna eu sem feugiat pellentesque. Maecenas dictum orci odio, eget condimentum tellus porttitor eget. Pellentesque eu convallis tellus, eget vulputate felis. Ut scelerisque a magna et fringilla. Nulla volutpat, felis vitae mattis lacinia, eros dolor egestas ante, vel vestibulum felis metus non odio. Aenean porttitor ante ut lorem dictum, sit amet consequat urna ultrices. Suspendisse potenti. Quisque iaculis condimentum risus eu placerat. Nulla facilisi. Aliquam at diam risus. Nulla convallis nec est quis tincidunt. Nunc justo turpis, fermentum in faucibus non, elementum ac tortor. Sed venenatis iaculis libero.
                            </p>
                            <p class="faq-post">
                            Nam ut tellus dapibus, lacinia nulla at, interdum risus. Donec sollicitudin porttitor risus, ut hendrerit lorem consequat nec. Donec eleifend felis vitae condimentum finibus. Morbi bibendum quis tellus et hendrerit. Vestibulum pulvinar elementum lorem at imperdiet. Praesent tellus mi, venenatis ac sodales a, aliquet eu tellus. Phasellus a ultrices lorem. Fusce ac eleifend erat. Etiam consequat et ante in sollicitudin. Sed lectus metus, ornare vel aliquet eget, rutrum volutpat dui.
                            </p>
                            </span>
                        </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-3 nopadding" id="right">
        <div class="demo-gallery">
            <ul id="lightgallery" class="list-unstyled marginbottom0">
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
                <li class="col-xs-12 grid nopadding" data-src="{% static "website/img/1.jpg" %}" data-sub-html="<h4>Her morning</h4><p>Wedding, Portrait, Fashion, Nude, Nightlife.
                We are ready for 2017 and 2018 year bookings!</p>">
                    <a href="">
                        <img class="imgcover grid" src="{% static "website/img/1.jpg" %}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>                    
{% endblock content %}