{% extends "website/index.html" %}
{% load staticfiles %}
{% block content %}
<div class="row nomargin" id="content">
    <div class="col-md-9 col-sm-12 col-xs-12 nopadding" id="left">
        <div class="faq">
            <div class="heading-wrapper">
                <h1 class="page-heading" style="font-size:24px; text-align:center;" class="nomargin">{{pricepage.heading}}</h1> 
                <hr class="page-heading" style="width:100px; margin-top:8px; margin-bottom:8px;">
            </div>
        
            <div class="faq-content-wrapper">
                <ul class="faq-list">
                    {% for question in questions %}
                        <li class="faq-title">
                            <a class="faq-titlea collapsed" data-toggle="collapse" data-target="#{{question.heading|slugify}}-question" href="#">{{question.heading|safe}}</a>
                        </li>
                        <div id="{{question.heading|slugify}}-question" class="collapse">
                            <div class="post">
                                <div class="faq-post">
                                    {{question.body|safe}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% include "website/side_photos.html" %}

</div>
{% endblock content %}


{% block extra_javascript %}
    {% include "website/side_photos_scripts.html" %}
{% endblock extra_javascript %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "website/css/lightgallery.css" %}">
{% endblock %}