{% extends "website/index.html" %}
{% load staticfiles %}
{% block content %}

<div class="slider-wrapper">
    <div id="slider" class="flexslider">
        <ul class="slides">
            {% for comparisonphoto in comparisonphotos %}
                <li class="slide-image-wrapper">
                    <div class="twentytwenty-container comparison-wrapper">
                        <img class="comparison-image" src="{{comparisonphoto.before.url}}"/>
                        <img class="comparison-image" src="{{comparisonphoto.after.url}}"/>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="carousel" class="flexslider">
        <ul class="slides">
            {% for comparisonphoto in comparisonphotos %}
                <li class="slide-image-wrapper">
                    <img class="imgcover" src="{{comparisonphoto.before.url}}"/>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "website/css/twentytwenty.css" %}">
{% endblock extra_css %}

{% block extra_javascript %}
	<script src=" {% static "website/js/retouch.js" %}" type="text/javascript"></script>
    <script src=" {% static "website/js/jquery.event.move.js" %}" type="text/javascript"></script>
    <script src=" {% static "website/js/jquery.twentytwenty.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(window).load(function(){
            $(".twentytwenty-container").twentytwenty();
        });
    </script>
{% endblock extra_javascript %}