{% extends "website/index.html" %}
{% load staticfiles %}
{% block content %}
<div class="slider-wrapper">
    <div id="slider" class="flexslider">
        <ul class="slides">
            <li class="slide-image-wrapper">
                <a href="#">
                    <img class="imgcover" src="{% static "website/img/1.jpg" %}"/>
                </a>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/2.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/3.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/4.jpg" %}"/>
            </li>
             <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/1.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/2.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/3.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/4.jpg" %}"/>
            </li>
             <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/1.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/2.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/3.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/4.jpg" %}"/>
            </li>
             <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/1.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/2.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/3.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
                <img class="imgcover" src="{% static "website/img/4.jpg" %}"/>
            </li>
        <!-- items mirrored twice, total of 12 -->
        </ul>
    </div>
    <div id="carousel" class="flexslider">
        <ul class="slides">
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/1.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/2.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/3.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/4.jpg" %}"/>
            </li>
             <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/1.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/2.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/3.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/4.jpg" %}"/>
            </li>
             <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/1.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/2.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/3.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/4.jpg" %}"/>
            </li>
             <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/1.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/2.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/3.jpg" %}"/>
            </li>
            <li class="slide-image-wrapper">
              <img class="imgcover" src="{% static "website/img/4.jpg" %}"/>
            </li>
        <!-- items mirrored twice, total of 12 -->
        </ul>
    </div>
</div>
{% endblock content %}