body{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	line-height: 1;
	color:#999999;
	background-color: #eeeeee;
	transition: 250ms color;
	/*position: fixed;*/
}

#element::-webkit-scrollbar { 
    display: none; 
}

::-webkit-scrollbar { 
    display: none; 
}

hr {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    border: 0;
    border-top: 1px solid #333;
}

.btn{
	border: 0px solid transparent;
}

.btn-default:hover {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}

/*SIDEBAR*/

.primary-menu {
    margin-top: 90px;
    height: calc(100% - 430px);
    margin-bottom: 420px;
}

.secondary-menu{
	padding-bottom: 25px !important;
	padding-top: 25px !important;
}

.main-category{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 36px; 
    transition: 250ms color;
}
.sub-category {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}
.sub-category li {
    line-height: 32px;
    font-size: 16px;
    transition: 250ms color;
}
ul{
    list-style-type: none;
    padding:0px;
}
.sidebar-bottom-group{
	position: absolute;
    bottom: 80px;
    width: 200px;
    background: white;
    z-index: 3;
}

span.client {
    font-size: 12.5px;
/*    letter-spacing: -0.01em;
*/    line-height: 25px;
}

span.author {
	font-size: 12.5px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 25px;
}

/* SIDEBAR END */

iframe.width-changed {
    width: 100%;
    display: block;
    border: 0;
    height: 0;
    margin: 0;
}

.slider-wrapper{
	height: 100vh;
}

/* SLIDER BEGIN */
	
	/* Slider styling BEGIN */

	div#slider {
	    height: 85vh;
	}

	.flexslider {
		margin: 0 0 0px;
	    background: transparent;
	    border: 0px;
	    -webkit-border-radius: 0px;
	    -moz-border-radius: 0px;
	    border-radius: 0px;
	    -webkit-transition: all 0s;
	}
	.flex-viewport {
	    height: inherit;
	}
	.slides{
		height:inherit;
	}
	.slide-image-wrapper{
		height: inherit;
	}
	img.imgcover {
	    height: 100% !important;
	    width: 100% !important;
	    object-fit: cover;
    	overflow: hidden;
	}
/*
	.flex-direction-nav a {
	    margin: 0px 30px;
	    position: absolute;
	    bottom: 0;
	}*/

	/* Slider styling END */

	/* Thumbnail styling BEGIN */


	div#carousel {
	    height: 15vh;
	}

	#carousel .flex-active-slide img {
	    opacity: 1;
	    cursor: default;
	    overflow: hidden;
	}
	#carousel img {
	    display: block;
	    opacity: .5;
	    cursor: pointer;
	    overflow: hidden;
	}

	.flex-direction-nav .flex-next {
	    text-align: center;
	}

	/* Thumbnail styling END */

/* SLIDER END */