body{
	font-size: 14px;
	color: #333;
	line-height: 1.5;
	background-color:#999;
}

.categories-wrapper{
	display: block;
	color: #333;
	background-color: white;
	border-radius: 3px;
}

.photos-wrapper{
	display: block;
	color: #333;
	background-color: white;
	border-radius: 3px;
}

.galleries-wrapper{
	display: block;
	color: #333;
	background-color: white;
	border-radius: 3px;
}