{% extends "website/category/category_base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="demo-gallery">
        <div class="row nomargin nopadding">
            <ul id="lightgallery" class="list-unstyled filtr-container marginbottom0">
                {% for photo in photos %}
                    <li class="col-xs-3 grid nopadding filtr-item" data-category="{{photo.gallery}}" data-src="{{photo.src}}">
                        <img href="" class="imgcover grid" src="{{photo.src}}">
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "website/css/lightgallery.css" %}">
{% endblock %}