{% extends "website/category/category_base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="all-gallery">
        <div class="row nomargin nopadding">
            <ul id="lightgallery-all" class="list-unstyled marginbottom0">
                {% for key, value in photos.items %}
                    {% for photo in value %}
                        <li class="col-xs-3 grid nopadding" data-category="{{photo.gallery}}" data-src="{{photo.src}}">
                            <img href="" class="imgcover grid b-lazy" data-src="{{photo.src}}">
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "website/css/lightgallery.css" %}">
{% endblock %}