{% extends "website/category/category_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="demo-gallery">
    <ul id="lightgallery" class="list-unstyled marginbottom0">
        {% for photo in photos %}
            <li class="col-xs-6 grid nopadding" data-src="{{photo.src}}">
            <a href="{{photo.src}}" data-tweet-text='test'>
                <img class="imgcover grid" src="{{photo.src}}">
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static "website/css/lightgallery.css" %}">
{% endblock %}